.app {
  background-image: linear-gradient(#113946, #FFF2D8);
  min-height: 100vh;
}

.footer {
  position:absolute;
  left:0;
  bottom:0;
  right:0;
}

.btn {
  color: white;
}

.form-btn {
  background-color: #113946;
}

.close-btn {
  background-color: #BCA37F;
}

.btn-primary {
  --bs-btn-border-color: #113946;
  --bs-btn-active-border-color: #113946;
}

.btn:hover {
  background-color: #EAD7BB;
  color: #113946;
}

.product-name {
  color: white;
}

.product-desc {
  color: #EAD7BB;
}

.icon {
  width: 40px;
}

.bg-product {
  --bs-bg-opacity: .35;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.nav {
  padding-bottom: 5px;
  border-bottom: 1px solid #BCA37F;
}
.nav-tabs button {
  color: #BCA37F;
  font-weight: bold;
}

.nav-tabs button:active, .nav-tabs button:hover {
  background-color: #BCA37F;
  color: #113946;
}

.nav-tabs .nav-item button.active {
  color: #113946;
  background-color: #EAD7BB;
}